(
    map: (
        superchunk_exponent: 9,
        chunk_exponent: 4,
        num_lods: 4,
    ),
    chunk_cache: (
        max_cached_chunks: 100000,
        max_chunks_compressed_per_frame_per_thread: 50,
    ),
    render: (
        debug_chunk_boundaries: true,
    ),
    witness_radius: 800,
)